body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }

  .profile-card {
    text-align: center;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .profile-card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .profile-card-content {
    padding: 20px;
    text-align: center;
  }

  .profile-card-content h2 {
    margin-bottom: 10px;
    font-size: 2em;
  }


  .social-links{
    display: flex;
    justify-content: center;
  }
  .social-links img{
    aspect-ratio: 4/3;
    width: 30px;
  }
  
  .profile-card-content .social-links a:hover {
    color: #007bff;
  }


  .profile-card .contact-button {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
  }

  .profile-card .contact-button:hover {
    background-color: #333;
  }